<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <article>
                <p><a href="/cars/">&larr; Back to cars for sale</a></p>    
                <hr>
                <header>
                    <h1>{{data.car.make}}</h1>
                </header>
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        {{#if data.car.image}}
                            <img src="{{cloudinaryUrl data.car.image crop='fit'}}" class="img-responsive">
                        {{/if}}
                    </div>
                    <div class="col-md-6 col-lg-6>">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Reg:</strong>{{data.car.regofcar}}</li>
                            <li class="list-group-item"><strong>Price:</strong>{{data.car.price}}</li>
                            <li class="list-group-item"><strong>Make:</strong>{{data.car.make}}</li>
                            <li class="list-group-item"><strong>Model:</strong>{{data.car.model}}</li>
                            <li class="list-group-item"><strong>Engine size:</strong>{{data.car.enginesize}}</li>
                            <li class="list-group-item"><strong>Mileage:</strong>{{data.car.mileage}}</li>
                            <li class="list-group-item"><strong>Gearbox:</strong>{{data.car.gearbox}}</li>
                            <li class="list-group-item"><strong>Fuel type:</strong>{{data.car.fueltype}}</li>
                            <li class="list-group-item"><strong>No of doors:</strong>{{data.car.noofdoors}}</li>
                            <li class="list-group-item"><strong>Body Colour:</strong>{{data.car.bodycolour}}</li>
                            <li class="list-group-item"><strong>Status:</strong>{{data.car.status}}</li>
                            
                        </ul>
                        <div class="well">
                            {{data.car.description}}
                        </div>
                        <a class="btn btn-success btn-block" href="/contact">Enquire about this Car</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>