<div class="container">
    <h1>Cars for sale</h1>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                {{#each cars}}
                <div class="col-md-4 col-lg-4">
                    <h2><a href="{{carUrl slug}}">{{{make}}}{{model}}{{regofcar}}</a></h2>
                    {{#if image}}
                    <img src="{{{cloudinaryUrl image width=260 height=260 crop="fit"}}}" class="thumbnail">
                    {{/if}}
                </div>
                
                {{/each}}
            </div>
        </div>
    </div>
</div>