#header {
	margin-top: 0%;
	margin-bottom: 0%;
	padding-bottom: 0%;
  }
  
  #footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
  }
  
  .gallery-image img {
	display: block;
	max-width: 100%;
	height: auto;
  }
  
  .carousel-item {
	height: 75vh;
	min-height: 300px;
	/*background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/
	background-size: cover !important;
	background-position: center !important;
   
  }
  
  .carousel-caption {
	bottom: 270px;}
	h5 {
	  font-size: 45px;
	  text-transform: uppercase;
	  letter-spacing: 2px;
	  margin-top: 25px;
	}
  
	
  .portfolio-item {
	margin-bottom: 30px;
  }



  .navbar>.container, .navbar>.container-fluid{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	 -ms-flex-wrap: wrap;
		 flex-wrap: wrap;
	
	 -webkit-box-align:center;
		 -ms-flex-align:center;
			 align-items:center;
	 
 }
 
 .ata-top-nav{
	 background: rgba(0,0,0,0.6);
	 overflow: hidden;
	
 }
 #collapsibleNavbar{
	 padding-right: 20px;
 }


 